# Dataframe Processing

In [3]:
# Get the data from the sample_data folder
import os
import pandas as pd
import numpy as np

In [4]:
files_in_current_directory = os.listdir('.')
print(files_in_current_directory)

['gradesync_sheets_to_df.ipynb', 'message_requests', '.DS_Store', 'requirements.txt', 'config', 'df_processing_manan_project_3.ipynb', 'output', 'gradesync_to_df.ipynb', 'output_files.csv', 'deadlines_temp.ipynb', 'sample_data', '.gitignore', '.env', 'notification_frequency_temp.ipynb', 'gradesync_to_df.py', 'df_processing_manan.py', 'df_processing.ipynb']

In [5]:
# Read the data from the sample_data folder and convert to a dataframe
def get_data(file_name):
    # Get the path to the sample_data folder
    sample_data_folder = 'sample_data/'
    file_path = os.path.join(sample_data_folder, file_name)

    # Read the data from the CSV file
    df = pd.read_csv(file_path)

    return df

## 1. Open the files and do pre-processing

In [13]:
assignment_df = get_data('CS10_Sp25_GradeScope Grades - Project 3_2048.csv')
assignment_df

,b'First Name,Last Name,SID,Email,Sections,Total Score,Max Points,Status,Submission ID,Submission Time,Lateness (H:M:S),View Count,Submission Count,1: Autograder (35.0 pts)
0,Anita,Qian,3040005244,anita_qian@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314621931.0,2025-03-05 10:45:24 -0800,0:00:00,0.0,1.0,35.00
1,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314680106.0,2025-03-05 13:17:20 -0800,0:00:00,0.0,2.0,35.00
2,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
3,Jack,Hulse,3040081294,johnhulse@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
4,Kelly,Chou,3038568093,kelly0919@berkeley.edu,compsci-10-dis-801-in-person,30.35,35,Graded,314886910.0,2025-03-06 00:34:41 -0800,0:00:00,0.0,1.0,30.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Kaixing,Zhang,3040937812,keson@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
61,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
62,Efe,Atli,23772813,eatli@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
63,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
64,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
assignment_df

,b'First Name,Last Name,SID,Email,Sections,Total Score,Max Points,Status,Submission ID,Submission Time,Lateness (H:M:S),View Count,Submission Count,1: Autograder (35.0 pts)
0,Anita,Qian,3040005244,anita_qian@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314621931.0,2025-03-05 10:45:24 -0800,0:00:00,0.0,1.0,35.00
1,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314680106.0,2025-03-05 13:17:20 -0800,0:00:00,0.0,2.0,35.00
2,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
3,Jack,Hulse,3040081294,johnhulse@berkeley.edu,compsci-10-dis-801-in-person,35.00,35,Graded,314713498.0,2025-03-05 14:46:33 -0800,0:00:00,0.0,1.0,35.00
4,Kelly,Chou,3038568093,kelly0919@berkeley.edu,compsci-10-dis-801-in-person,30.35,35,Graded,314886910.0,2025-03-06 00:34:41 -0800,0:00:00,0.0,1.0,30.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Kaixing,Zhang,3040937812,keson@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
61,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
62,Efe,Atli,23772813,eatli@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
63,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,compsci-10-dis-801-in-person,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN
64,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,NaN,NaN,35,Missing,NaN,NaN,NaN,NaN,NaN,NaN

## Preprocessing Data

In [9]:
# Sort project3_df to contain only the 'SID', 'Status', 'Submission Time', 'Lateness (H:M:S)' columns
assignment_filtered_df = assignment_df[["b'First Name", 'Last Name', 'SID', 'Email', 'Status', 'Submission Time', 'Lateness (H:M:S)']]

# Add a new column which labeles this data as 'Proj 3: 2048'
assignment_filtered_df = assignment_filtered_df.copy()
assignment_filtered_df['Assignment'] = 'Proj 3: 2048'

# Reorder the columns to have 'Project' as the first column
assignment_filtered_df = assignment_filtered_df[['Assignment', "b'First Name", 'Last Name', 'SID', 'Email', 'Status', 'Submission Time', 'Lateness (H:M:S)']]

# Rename the column with b'First Name to be First Name
assignment_filtered_df.rename(columns={"b'First Name": 'First Name'}, inplace=True)
# Lowercase all of the column names
assignment_filtered_df.columns = assignment_filtered_df.columns.str.lower()
# Remove the leading and trailing whitespace from the column names
assignment_filtered_df.columns = assignment_filtered_df.columns.str.strip()

assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s)
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24 -0800,0:00:00
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20 -0800,0:00:00
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41 -0800,0:00:00

## Integrating with deadlines

In [10]:
 # Get the data from deadlines.csv
deadlines_df = get_data('deadlines.csv')
deadlines_df.head()

   id               assignment                  due  done  time_submitted
0   0       Presemester Survey  2025-01-31T23:59:59     0             NaN
1   1          Proj 1: Worldle  2025-02-05T23:59:59     0             NaN
2   2     Proj 2: Spelling Bee  2025-02-24T23:59:59     0             NaN
3   3             Proj 3: 2048  2025-03-17T23:59:59     0             NaN
4   4  Proj 4: Tech in Context  2025-03-31T23:59:59     0             NaN

In [11]:
# Iterate through the assignment_filtered_df, and for each row, add on the due date based on joining the project3_filtered_df and the deadlines_df
def get_due_date(row):
    # Get the project name from the row
    project_name = row['assignment']

    # Get the due date from the deadlines_df
    due_date = deadlines_df.loc[deadlines_df['assignment'] == project_name, 'due'].values[0]

    return due_date

assignment_filtered_df['due date'] = assignment_filtered_df.apply(get_due_date, axis=1)
assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 10:45:24 -0800,0:00:00,2025-03-17T23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 13:17:20 -0800,0:00:00,2025-03-17T23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00,2025-03-17T23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 14:46:33 -0800,0:00:00,2025-03-17T23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 00:34:41 -0800,0:00:00,2025-03-17T23:59:59

In [12]:
# Convert the due date and submission time to datetime objects, in order to compare the dates for the date difference
assignment_filtered_df['submission time'] = pd.to_datetime(assignment_filtered_df['submission time'], errors='coerce', utc=True)
assignment_filtered_df['due date'] = pd.to_datetime(assignment_filtered_df['due date'], errors='coerce')

assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59

## Integrating with Notification Frequency

In [89]:
assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59

In [90]:
notification_frequency_df = get_data('notification_frequency.csv')
notification_frequency_df

    first name   last name         sid  notification_frequency
0        Samir    Robinson  3039081502                       3
1        Joyce         Kei  3040233706                       4
2       Qiqing        Deng  3040948524                       5
3     Precious        Rios  3039926074                       2
4       Curlee      Thomas  3038646132                       1
..         ...         ...         ...                     ...
62  Liangcheng       Zhang  3040950656                       2
63      Zijian         Qiu  3040942973                       1
64         Efe        Atli    23772813                       5
65      Felipe  Ruiz-Tagle  3040705060                       2
66      Jerome      Martel         NaN                       1

[67 rows x 4 columns]

In [91]:
for i, row in assignment_filtered_df.iterrows():
    first_name = row['first name']
    last_name = row['last name']

    match = notification_frequency_df.loc[
        (notification_frequency_df['first name'] == first_name) & 
        (notification_frequency_df['last name'] == last_name)
    ]

    if match.empty:
        print(f"No match for: {first_name} {last_name}")

In [92]:
# Match the first and last name column from the assignment_filtered_df with the first name and last name column from the notification_frequency_df 
def get_notification_frequency(row):
    first_name = row['first name']
    last_name = row['last name']

    # Check if the first and last name match in the notification_frequency_df
    match = notification_frequency_df.loc[
        (notification_frequency_df['first name'] == first_name) &
        (notification_frequency_df['last name'] == last_name),
        'notification_frequency'
    ]

    # If there is a match, return the notification frequency
    if not match.empty:
        return match.values[0]
    else:
        return np.nan  # or "weekly", or np.nan depending on your use case

In [93]:
# Create a new column called 'notification_frequency' in the assignment_filtered_df
assignment_filtered_df['notification_frequency'] = assignment_filtered_df.apply(get_notification_frequency, axis=1)
assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59,4
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59,5
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59,3

In [94]:
assignment_filtered_with_datetime_df = assignment_filtered_df.copy()
assignment_filtered_with_datetime_df

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59,4
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59,5
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59,3
...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,2
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,1
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,2
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,1

In [95]:
# # Convert the notification_frequency column in assignment_filtered_df to a datetime object
assignment_filtered_with_datetime_df['notification_frequency'] = assignment_filtered_with_datetime_df['notification_frequency'].apply(lambda x: pd.Timedelta(days=x))
assignment_filtered_with_datetime_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59,4 days
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59,5 days
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59,3 days

In [96]:
assignment_filtered_with_datetime_df['notification_frequency'].dtypes

dtype('<m8[ns]')

In [97]:
assignment_filtered_df = assignment_filtered_with_datetime_df.copy()
assignment_filtered_df

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59,4 days
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59,5 days
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59,3 days
...,...,...,...,...,...,...,...,...,...,...
60,Proj 3: 2048,Kaixing,Zhang,3040937812,keson@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,2 days
61,Proj 3: 2048,Erin,ZHOU,3040947731,uerinzhou@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,1 days
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days
63,Proj 3: 2048,Felipe,Ruiz-Tagle,3040705060,felipe.ruiztagle@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,2 days
64,Proj 3: 2048,Jerome,Martel,NaN,jerome.martel.t@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,1 days

In [98]:
# # This is where we should get the input from GradeView from the student's configuration

# import random

# def random_timedelta():
#     # Generate a random number of days between 3 and 7
#     num_days = random.randint(3, 7)
#     return pd.Timedelta(days=num_days)

# # Create a new column called notification_frequency

# assignment_filtered_df['notification_frequency'] = pd.Timedelta(days=0)
# assignment_filtered_df['notification_frequency'] = assignment_filtered_df['notification_frequency'].apply(lambda x: random_timedelta())
# assignment_filtered_df.head()

## Date Comparison Logic

In [99]:
# Create a test case where today's date is set to 2025-03-12 such that the difference 
# between the due date 2025-03-17 and the current date is 5 days which is the notification frequency

import datetime

today_date = datetime.datetime(2025, 3, 12, 0, 0, 0)
today_date

datetime.datetime(2025, 3, 12, 0, 0)

In [100]:
# Get the difference between the due date and the current date
def get_date_difference(row):
    # Get the due date from the row
    due_date = row['due date']

    # Get the difference between the due date and the current date
    date_difference = due_date - today_date

    return date_difference

# Applying the date difference function between today's date and the due date
assignment_filtered_df['date_diff'] = assignment_filtered_df.apply(get_date_difference, axis=1)
assignment_filtered_df.head()

# Get the type of the notification_frequency column in merged_df
notification_frequency_type = assignment_filtered_df['notification_frequency'].dtype

# Get the type of the Date Difference column in merged_df
date_difference_type = assignment_filtered_df['date_diff'].dtype

assignment_filtered_df['is_equal'] = assignment_filtered_df['notification_frequency'].dt.days == assignment_filtered_df['date_diff'].dt.days
assignment_filtered_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency,date_diff,is_equal
0,Proj 3: 2048,Anita,Qian,3040005244,anita_qian@berkeley.edu,Graded,2025-03-05 18:45:24+00:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
1,Proj 3: 2048,Malachite,McEvoy,3036547996,malachitemcevoy@berkeley.edu,Graded,2025-03-05 21:17:20+00:00,0:00:00,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
2,Proj 3: 2048,Abigail,Johnson,3040928660,abigail.johnson@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
3,Proj 3: 2048,Jack,Hulse,3040081294,johnhulse@berkeley.edu,Graded,2025-03-05 22:46:33+00:00,0:00:00,2025-03-17 23:59:59,4 days,5 days 23:59:59,False
4,Proj 3: 2048,Kelly,Chou,3038568093,kelly0919@berkeley.edu,Graded,2025-03-06 08:34:41+00:00,0:00:00,2025-03-17 23:59:59,3 days,5 days 23:59:59,False

## Create Missing Students DataFrame

In [101]:
"""
What will the code do:			
1. Iterate through every single row in this table			
2. Student SID has not submitted assignment, status = 'missing' from student_data_one_assignment AND today_date == due_date - notification_freq			
3. Append that student, row, assignment to the message_requests temporary dataframe			
4. Continue iterating through every single one			
"""

"\nWhat will the code do:\t\t\t\n1. Iterate through every single row in this table\t\t\t\n2. Student SID has not submitted assignment, status = 'missing' from student_data_one_assignment AND today_date == due_date - notification_freq\t\t\t\n3. Append that student, row, assignment to the message_requests temporary dataframe\t\t\t\n4. Continue iterating through every single one\t\t\t\n"

In [102]:
# See which rows where row['Status'] == 'missing' and row['is_equal'] == True:
missing_students_df = assignment_filtered_df[(assignment_filtered_df['status'] == 'Missing') & (assignment_filtered_df['is_equal'] == True)]
missing_students_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency,date_diff,is_equal
36,Proj 3: 2048,test2,test2,NaN,test2@test.com,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
39,Proj 3: 2048,test4,test4,NaN,test4@test.com,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
53,Proj 3: 2048,Will,Roloson,NaN,kobay@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
56,Proj 3: 2048,Angel,Mora Argueta,3040111597,angelmoraargueta@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True

## Create the Message Requests

In [103]:
# Now create a message_requests column in the merged_df dataframe with the f_string message
def create_message(row):
    # Get the project name from the row
    assignment_name = row['assignment']

    notification_frequency = row['notification_frequency']

    first_name = row["first name"]
    last_name = row['last name']

    # Create the message
    message = f"Dear {first_name}, your {assignment_name} assignment is missing and it is due in {notification_frequency}. Please submit it as soon as possible."

    return message

In [104]:
# Create the message_requests column in the merged_df dataframe
message_requests_df = missing_students_df.copy()
message_requests_df['message_requests'] = message_requests_df.apply(create_message, axis=1)
message_requests_df.head()

,assignment,first name,last name,sid,email,status,submission time,lateness (h:m:s),due date,notification_frequency,date_diff,is_equal,message_requests
36,Proj 3: 2048,test2,test2,NaN,test2@test.com,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear test2, your Proj 3: 2048 assignment is mi..."
39,Proj 3: 2048,test4,test4,NaN,test4@test.com,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear test4, your Proj 3: 2048 assignment is mi..."
53,Proj 3: 2048,Will,Roloson,NaN,kobay@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Will, your Proj 3: 2048 assignment is mis..."
56,Proj 3: 2048,Angel,Mora Argueta,3040111597,angelmoraargueta@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Angel, your Proj 3: 2048 assignment is mi..."
62,Proj 3: 2048,Efe,Atli,23772813,eatli@berkeley.edu,Missing,NaT,NaN,2025-03-17 23:59:59,5 days,5 days 23:59:59,True,"Dear Efe, your Proj 3: 2048 assignment is miss..."

In [105]:
# Simplify this down to the information that is necessary
message_requests_df_condensed = message_requests_df[['first name', 'last name', 'sid', 'email', 'assignment', 'message_requests']]
message_requests_df_condensed.head()

,first name,last name,sid,email,assignment,message_requests
36,test2,test2,NaN,test2@test.com,Proj 3: 2048,"Dear test2, your Proj 3: 2048 assignment is mi..."
39,test4,test4,NaN,test4@test.com,Proj 3: 2048,"Dear test4, your Proj 3: 2048 assignment is mi..."
53,Will,Roloson,NaN,kobay@berkeley.edu,Proj 3: 2048,"Dear Will, your Proj 3: 2048 assignment is mis..."
56,Angel,Mora Argueta,3040111597,angelmoraargueta@berkeley.edu,Proj 3: 2048,"Dear Angel, your Proj 3: 2048 assignment is mi..."
62,Efe,Atli,23772813,eatli@berkeley.edu,Proj 3: 2048,"Dear Efe, your Proj 3: 2048 assignment is miss..."

In [106]:
# Save the message requests to a csv file 

# Save the message requests to a CSV file
csv_file_name = "message_requests_" + message_requests_df_condensed['assignment'].iloc[0] + ".csv"
message_requests_df.to_csv(csv_file_name, index=False)

In [107]:
# Save the dataframe to the message_requests/ folder
message_requests_folder = 'message_requests/'
if not os.path.exists(message_requests_folder):
    os.makedirs(message_requests_folder)
message_requests_df_condensed.to_csv(os.path.join(message_requests_folder, csv_file_name), index=False)
print(f"Message requests saved to {os.path.join(message_requests_folder, csv_file_name)}")

Message requests saved to message_requests/message_requests_Proj 3: 2048.csv

List of things to be done:
1. notification_frequency: we are generating a synethic set of dates through random. Instead, we should ideally have the prefernces (that come from GradeView) about the student's notification frequency integrated into it.
  - Read from the notification_frequency.csv file for example, but make sure that the IDs are correct and similar to our test case of project 3
2. Integrate the temporary deadlines with the set of files
3. Right now, this is all done for a SINGLE project. The next job is to generalize it, which means iterating through the output folder, and for each project / lab in the output folder, work with that dataframe and the deadlines and the notification_frequency to get this going
4. Create an output of a set of message_request dataframes. This could be a mapping of the assignment name --> message request dataframe
  - Exploded dataframe